*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  /* oscurece la iamgen de fondo del header */
  header{
      background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(./imag/ba1.jpg);
      background-size: 100% 100%;
      min-height: 90vh;
  }
  /* card   que esta en el header pone fondo transparente para que se vea la foto*/
  .tarjeta{
     background-color: transparent;
  } 
  
  /* color y forma linea link charla ignite */
  .charla {
    border-bottom:2px dotted #000000;
    text-decoration:none;
    color: black;
  }
  
  /* color de fondo boton enviar del formulario  */
  .enviar{
    background-color:  rgba(139, 201, 47, 0.979);
  }
  .enviar:hover{
    background-color: #198754;
  }
  #navtop a:hover{
    color: white;
    
  }
  #compras p:hover{
    color: greenyellow;
  }
  .coloresesp {
  background-color: #123953;
  }
   .footover{
     color: white;
   }